<!DOCTYPE html>
<html>
  <head>
     <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% @junior_listings.each do |listing| %>
    <table>
      <tr>
        <td>
          <div class="listing junior">
            <%= link_to listing.description, listing.url %>
          </div>
        </td>
      </tr>
    </table>

    <% end %>
  </body>
</html>
