// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$listing: 16px;

.id {
  display: inline-block;
  width: 80px;
  a, a:visited {
    color: black;
    width: 140px !important;
  }
}

#undo-hide {
  margin-top: 35vh;
  margin-left: 40vw;
  position: fixed;
  font-size: 1.2em;
}

.listing {
  font-size: $listing;
  a { color: rgb(119, 15, 115)}
  a:visited { color: rgb(57, 47, 102)}
  padding: 4px;
}

.junior {
  @extend .listing;
  a {
    color: #7c2121;
    font-weight: bold;
   }
}

.boxed-row {
  border-style: solid;
  border-color: #000;
  border-width: 2px;
}


.top-space-10{
  margin-top: 10px;
}

.top-space-20{
  margin-top: 20px;
}

.mark-hide{
  @extend .listing;
  font-size: 16px;
}

// set if listing created_at within last hour
#hot {
  color: green !important;
}
